<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sephora.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>589350B81CD071FD003E18C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589350CE1CD071FD003E18C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589350D91CD071FD003E18C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
